<body>
  <nav>
    <img id='logo' class='logo' src='/houseicon.png' alt='logo' />
    <a href='/index'>Főoldal</a>
    <a href="/uzenetek">Vissza</a>
    {{> login}}
  </nav>
  {{#each uzenetek}}
    <div class='uzenet'>
      <p class='uzenetTartalom'><b>{{this.Uzenet}}</b> : <em>{{this.Datum}}</em></p>
    </div>
  {{/each}}
  <footer>Popovici Gergo-Benone<br>pgim2289<br>523<br></footer>
  <script src='script.js'></script>
</body>